.cssans {
  // Letter 'a'
  &-a {
    &::before {
      border: 1em solid RGB(var(--secondary));
      border-left-color: RGB(var(--accent1));
      border-radius: 50%;
      transform: rotate(45deg);
    }

    &::after {
      width: 1em;
      height: 2em;
      top: 0;
      left: 1em;
      background: RGBA(var(--primary), .6);
    }
  }

  // Letter 'b'
  &-b {
    margin-top: 1em;

    &::before {
      background: RGB(var(--primary));
      width: 2em;
      height: 2em;
      border-radius: 50%;
    }

    &::after {
      width: 1em;
      height: 3em;
      bottom: 1em;
      background: RGBA(var(--secondary), .54);
    }
  }

  // Letter 'c'
  &-c {
    width: 1.7em;

    &::before {
      background: RGB(var(--primary));
      width: 1em;
      height: 2em;
      border-top-left-radius: 1em;
      border-bottom-left-radius: 1em;
      z-index: 1;
    }

    &::after {
      border: 1em solid transparent;
      border-top-color: RGB(var(--secondary));
      border-bottom-color: RGB(var(--accent1));
      border-radius: 50%;
    }
  }

  // Letter 'd'
  &-d {
    @extend .cssans-b;

    &::after {
      left: auto;
      right: 0;
    }
  }

  // Letter 'e'
  &-e {
    &::before {
      border: 1em solid RGB(var(--primary));
      border-top-color: RGB(var(--secondary));
      border-right-color: transparent;
      border-radius: 50%;
      transform: rotate(45deg);
      z-index: 1;
    }

    &::after {
      border: 1em solid transparent;
      border-bottom-color: RGB(var(--accent1));
      border-radius: 50%;
    }
  }

  // Letter 'f'
  &-f {
    background: linear-gradient(90deg, RGB(var(--primary)) 1em, transparent 1em) no-repeat;
    background-size: 1em 1em;
    background-position: 0em 1em;
    margin-top: 1em;

    &::before {
      top: -1em;
      border: 1em solid transparent;
      border-top-color: RGB(var(--primary));
      border-radius: 50%;
      transform: rotate(45deg);
    }

    &::after {
      top: -1em;
      width: 1em;
      height: 3em;
      border-top-left-radius: 1em;
      border-bottom-right-radius: 1em;
      background: linear-gradient(0deg, RGBA(var(--secondary), .54) 1em, RGB(var(--secondary)) 1em, RGB(var(--secondary)) 2em, RGB(var(--accent3)) 2em);
    }
  }

  // Letter 'g'
  &-g {
    background: linear-gradient(90deg, transparent 1em, RGB(var(--primary)) 1em) no-repeat;
    background-size: 2em 3em;

    &::before {
      background: RGBA(var(--secondary), .6);
      width: 2em;
      height: 2em;
      border-radius: 50%;
    }

    &::after {
      border: 1em solid transparent;
      border-bottom-color: RGB(var(--accent1));
      border-radius: 50%;
      bottom: 0;
      z-index: -1;
    }
  }

  // Letter 'h'
  &-h {
    background: linear-gradient(90deg, RGB(var(--accent1)) 2em, transparent 2em) no-repeat;
    background-size: 2em 1em;
    border-radius: 1em;
    margin-top: 1em;

    &::before {
      background: linear-gradient(90deg, RGB(var(--accent2)) 1em, RGB(var(--primary)) 1em) no-repeat;
      height: 1em;
      width: 2em;
      top: 1em;
    }

    &::after {
      background: RGBA(var(--primary), .6);
      width: 1em;
      height: 2em;
      top: -1em;
    }
  }

  // Letter 'i'
  &-i {
    width: 1em;

    &::before {
      background: RGB(var(--primary));
      width: 1em;
      height: 2em;
    }
  }

  // Letter 'j'
  &-j {
    &::before {
      background: linear-gradient(0deg, RGB(var(--accent2)) 1em, RGB(var(--secondary)) 1em, RGB(var(--secondary)) 2em, RGB(var(--primary)) 2em);
      width: 1em;
      height: 3em;
      border-bottom-right-radius: 1em;
      right: 0;
    }

    &::after {
      border: 1em solid transparent;
      border-bottom-color: RGB(var(--accent1));
      border-radius: 50%;
      bottom: 0;
      z-index: 1;
      transform: rotate(45deg);
    }
  }

  // Letter 'k'
  &-k {
    background: linear-gradient(90deg, RGB(var(--primary)) 1em, transparent 1em) no-repeat;
    background-size: 1em 3em;
    top: -1em;
    margin-top: 1em;

    &::after,
    &::before {
      width: 2em;
      height: 1em;
      background: RGB(var(--accent1));
      border-top-left-radius: 1em;
      border-top-right-radius: 1em;
      bottom: 0;
      z-index: -1;
    }

    &::before {
      bottom: 1em;
      border-radius: 0 0 1em 1em;
    }
  }

  // Letter 'l'
  &-l {
    width: 1em;
    background: RGB(var(--primary));
    border-bottom-left-radius: 1em;
    top: -1em;
    margin-top: 1em;
  }

  // Letter 'm'
  &-m {
    width: 3em;

    &::before,
    &::after {
      width: 2em;
      height: 2em;
      background: linear-gradient(90deg, RGB(var(--secondary)) 1em, RGB(var(--primary)) 1em) no-repeat;
      border-top-right-radius: 1em;
    }

    &::after {
      width: 1em;
      right: 0;
    }
  }

  // Letter 'n'
  &-n {
    &::before {
      width: 2em;
      height: 2em;
      background: linear-gradient(90deg, RGB(var(--secondary)) 1em, RGB(var(--primary)) 1em) no-repeat;
      border-top-right-radius: 1em;
    }
  }

  // Letter 'o'
  &-o {
    &::before {
      width: 2em;
      height: 2em;
      background: RGB(var(--primary));
      border-radius: 50%;
    }
  }

  // Letter 'p'
  &-p {
    @extend .cssans-b;

    margin-top: 0;

    &::after {
      top: 0;
    }
  }

  // Letter 'q'
  &-q {
    @extend .cssans-d;

    margin-top: 0;

    &::before {
      background: RGB(var(--accent1));
    }

    &::after {
      top: 0;
    }
  }

  // Letter 'r'
  &-r {
    width: 1.7em;
    background: linear-gradient(90deg, RGBA(var(--secondary), .4) 1em, transparent) no-repeat;
    background-size: 1em 1em;

    &::before {
      width: 1em;
      height: 2em;
      background: RGB(var(--primary));
      border-radius: 1em 0 0 1em;
      z-index: -1;
    }

    &::after {
      border: 1em solid transparent;
      border-top-color: RGB(var(--secondary));
      border-radius: 50%;
      z-index: -2;
    }
  }

  // Letter 's'
  &-s {
    &::after {
      border: 1em solid transparent;
      border-top-color: RGB(var(--accent1));
      border-left-color: RGB(var(--primary));
      border-bottom-color: RGB(var(--accent2));
      border-radius: 50%;
      transform: rotate(45deg);
    }

    &::before {
      border: 1em solid transparent;
      border-top-color: RGB(var(--accent3));
      border-right-color: RGB(var(--secondary));
      border-bottom-color: RGB(var(--accent1));
      border-radius: 50%;
      transform: rotate(45deg);
      bottom: 0;
    }
  }

  // Letter 't'
  &-t {
    margin-top: 1em;

    &::before {
      width: 1em;
      height: 1em;
      background: RGB(var(--accent1));
      left: 1em;
    }

    &::after {
      top: -1em;
      width: 1em;
      height: 3em;
      border-bottom-left-radius: 1em;
      background: linear-gradient(0deg, RGB(var(--accent2)) 1em, RGB(var(--secondary)) 1em, RGB(var(--secondary)) 2em, RGB(var(--primary)) 2em);
    }
  }

  // Letter 'u'
  &-u {
    &::before {
      width: 2em;
      height: 1em;
      background: linear-gradient(90deg, RGB(var(--accent3)), RGB(var(--accent3)) 1em, RGB(var(--primary)) 1em);
    }

    &::after {
      width: 2em;
      height: 1em;
      background: RGB(var(--accent1));
      border-radius: 0 0 1em 1em;
      top: 1em;
    }
  }

  // Letter 'v'
  &-v {
    &::before {
      width: 1em;
      height: 2em;
      border-radius: 0 1em;
      background: RGB(var(--accent2));
      left: 0;
    }

    &::after {
      width: 1em;
      height: 2em;
      border-radius: 1em 0;
      background: RGB(var(--primary));
      right: 0;
    }
  }

  // Letter 'w'
  &-w {
    width: 1em;
    margin-left: 1em;
    margin-right: 1.1em;
    background: linear-gradient(0deg, RGB(var(--accent1)), RGB(var(--accent1)) 1em);
    background-repeat: no-repeat;
    background-size: 1em 2em;
    border-radius: 1em 1em 0 0;

    @extend .cssans-v;

    &::before {
      left: -1em;
    }

    &::after {
      right: -1em;
    }
  }

  // Letter 'x'
  &-x {
    &::before {
      width: 1em;
      height: 2em;
      background: linear-gradient(0deg, RGB(var(--primary)), RGB(var(--primary)) 1em, RGB(var(--secondary)) 1em);
      border-radius: 0 1em 1em 0;
    }

    &::after {
      width: 1em;
      height: 2em;
      background: linear-gradient(0deg, RGB(var(--secondary)), RGB(var(--secondary)) 1em, RGB(var(--primary)) 1em);
      border-radius: 1em 0 0 1em;
      right: 0;
    }
  }

  // Letter 'y'
  &-y {
    background: linear-gradient(90deg, RGB(var(--accent1)), RGB(var(--accent1)) 1em);
    background-repeat: no-repeat;
    background-size: 2em 1em;
    background-position: bottom left;
    border-radius: 0 0 1em 1em;
    top: -1em;

    &::before {
      width: 2em;
      height: 1em;
      top: 1em;
      background: linear-gradient(90deg, RGB(var(--primary)), RGB(var(--primary)) 1em, RGB(var(--accent2)) 1em);
    }

    &::after {
      width: 1em;
      height: 2em;
      border-bottom-right-radius: 1em;
      background: RGBA(var(--primary), .54);
      bottom: -1em;
      right: 0;
    }
  }

  // Letter 'z'
  &-z {
    &::before {
      width: 2em;
      height: 1em;
      background: linear-gradient(90deg, RGB(var(--accent3)), RGB(var(--accent3)) 1em, RGB(var(--accent1)) 1em);
      border-bottom-right-radius: 1em;
    }

    &::after {
      width: 2em;
      height: 1em;
      background: linear-gradient(90deg, RGB(var(--primary)), RGB(var(--primary)) 1em, RGB(var(--secondary)) 1em);
      border-top-left-radius: 1em;
      top: 1em;
    }
  }
}


