.footer {
  background: $orange;
  color: $white;
  margin-top: 150px;

  .heading {
    margin-bottom: 50px;
    text-align: center;
  }

  .button {
    color: $white;
    border-color: $white;

    &--full {
      color: $orange;
      background: $white;
    }
  }

  &__credits {
    margin-top: 50px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 14px;
    justify-content: space-around;

    a {
      display: inline-block;
    }

    b {
      position: relative;
      font-size: 32px;
      margin-bottom: 5px;
      display: block;
      margin-bottom: 8px;

      &.design {
        right: -5px;
      }

      &.code {
        left: -5px;
      }
    }
  }
}
