.heading {
  margin: 0;

  &--small {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $gray-dark;
    border-top: 1px solid $gray-dark;
    padding: 16px 0;
    margin-bottom: 32px;
  }

  &--large {
    font-size: 56px;
    font-weight: bold;
    line-height: 1;

    em {
      display: block;
      margin-top: 12px;
      font-size: 24px;
      font-style: normal;
      font-weight: normal
    }
  }

  @include mq(md) {
    &--large {
      font-size: 72px;

      em {
        font-size: 32px;
        margin-top: 32px;
      }
    }
  }
}

