.heading {
  margin: 0;

  &--small {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $gray-dark;
    border-top: 1px solid $gray-dark;
    padding: 16px 0;
    margin-bottom: 32px;
  }

  &--large {
    font-size: 56px;
    font-weight: bold;
    line-height: 1;
  }

  @include mq(md) {
    &--large {
      font-size: 72px;
    }
  }
}

.subheading {
  font-size: 24px;
  font-weight: normal;
  line-height: 1;
  color: $blue-secondary;
  margin-top: 12px;
  margin-bottom: 50px;

  @include mq(md) {
    font-size: 32px;
    margin-top: 32px;
    margin-bottom: 75px;
  }
}
