.playground {
  margin-top: -100px;
  margin-top: -80px;
  border: 1px solid #eee;
  border-radius: 10px 10px 0 0;
  background: $white;
  margin-bottom: 136px;
  position: relative;

  &__notice {
    position: absolute;
    top: -32px;
    left: -10px;
    color: $white;
    font-size: 16px;

    &::before {
      content: '';
      width: 100px;
      height: 75px;
      border: 1px dashed transparent;
      border-left-color: $white;
      border-bottom-color: $white;
      border-radius: 50%;
      position: absolute;
      left: -11px;
      top: 0;
    }

    &::after {
      content: '';
      border: 4px solid transparent;
      border-top-color: $white;
      position: absolute;
      top: 60px;
      left: 5px;
      transform: rotate(-90deg);
    }
  }

  &__controls {
    justify-content: space-between;
    align-items: center;
    background: #efefef;
    border-bottom: 1px solid #eee;
    padding: 0 8px;
    border-radius: 10px 10px 0 0;
    position: relative;
    z-index: 1;

    .row {
      align-items: center;

      > div {
        padding-top: 16px;
        padding-bottom: 16px;
  
        &:last-child {
          text-align: right;
        }
      }
    }
  }

  input,
  button {
    border: 0;
    padding: 0;
    outline: 0;
    vertical-align: middle;
    height: 32px;
  }

  button {
    background: 0;
    cursor: pointer;
  }

  #ctrl-text {
    font-size: 22px;
    text-align: center;
    width: 100%;
    border-radius: 20px;
    padding: 0 12px;
  }

  .color {
    font-size: 0;
    display: inline-block;
  }

  .jscolor {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 0;
  }

  #ctrl-fontsize {
    max-width: 100%;
  }

  &__container {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #playground {
    padding: 2em 16px;
    border-top: 0;
    zoom: .5;
    width: 100%;
  }

  @include mq(md) {
    margin-top: -160px;

    &__notice {
      font-size: 18px;
    }

    [data-title] {
      position: relative;

      &::before {
        content: attr(data-title);
        white-space: nowrap;
        background: #333;
        color: #fff;
        position: absolute;
        bottom: -34px;
        left: 50%;
        transform: translate(-50%, -25%);
        font-family: monospace;
        font-size: 13px;
        line-height: 1;
        padding: 4px 8px;
        border-radius: 10px;
        opacity: 0;
        transition: all 150ms;
        pointer-events: none;
      }

      &:hover::before {
        opacity: 1;
        transform: translate(-50%, 0%);
      }
    }

    #playground {
      zoom: 1;
    }

    &__controls {
      padding: 0 16px;

      &-text {
        order: 1;
      }

      &-size {
        order: 2;
      }
    }
  }
}

