.playground {
  margin-top: 200px;
  border: 1px solid #eee;
  border-radius: 10px 10px 0 0;

  &__controls {
    justify-content: space-between;
    align-items: center;
    background: #efefef;
    border-bottom: 1px solid #eee;
    padding: 0 8px;
    border-radius: 10px 10px 0 0;

    .row > div {
      padding-top: 16px;
      padding-bottom: 16px;

      &:last-child {
        text-align: right;
      }
    }
  }

  input,
  button {
    border: 0;
    padding: 0;
    outline: 0;
    vertical-align: middle;
    height: 32px;
  }

  button {
    background: 0;
    cursor: pointer;
  }

  [data-title] {
    position: relative;

    &::before {
      content: attr(data-title);
      white-space: nowrap;
      background: #333;
      color: #fff;
      position: absolute;
      top: -34px;
      left: 50%;
      transform: translate(-50%, 25%);
      font-family: monospace;
      font-size: 13px;
      line-height: 1;
      padding: 4px 8px;
      border-radius: 10px;
      opacity: 0;
      transition: all 150ms;
    }

    &:hover::before {
      opacity: 1;
      transform: translate(-50%, 0%);
    }
  }

  #ctrl-text {
    font-size: 22px;
    text-align: center;
    width: 100%;
    border-radius: 20px;
  }

  .color {
    font-size: 0;
    display: inline-block;
  }

  .jscolor {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 0;
  }

  #ctrl-fontsize {
    max-width: 100%;
  }

  #playground {
    padding: 2em 16px;
    border-top: 0;
    text-align: center;
    zoom: .5;
  }

  @include mq(md) {
    #playground {
      zoom: 1;
    }

    &__controls {
      padding: 0 16px;

      &-text {
        order: 1;
      }

      &-size {
        order: 2;
      }
    }
  }
}

