.specimen {
  > div {
    padding-bottom: 32px;
  }

  .cssans {
    &--small {
      font-size: 10px;
    }
    &--medium {
      font-size: 22px;
    }
    &--large {
      font-size: 72px;
    }
  }
}
