<div class="cta">
    <p>
        <b>CSSans Pro</b> is available as a 
        <a href="https://codepen.io/zerospree/project/editor/XLkwKj" target="_blank">CodePen Project</a>
        and <a href="https://github.com/ZeroSpree/CSSans.Pro" target="_blank">GitHub repository</a>.
    </p>
    <p>P.S. We love shares, ❤️, ⭐  & follows! Go ahead, don't be shy!
        <div class="cta__social">
            <a data-title="izadraws on Instagram" class="cta__link" href="https://www.instagram.com/izadraws/" target="_blank" rel="noopener">{{ icon-instagram }}</a>
            <a data-title="Codrin on CodePen" class="cta__link" href="https://codepen.io/zerospree/" target="_blank" rel="noopener">{{ icon-codepen }}</a>
            <a data-title="Codrin on Twitter" class="cta__link" href="https://twitter.com/zerospree" target="_blank" rel="noopener">{{ icon-twitter }}</a>
        </div>
    </p>
</div>