<footer class="footer">
    <div class="wrapper">
        <h1 class="heading heading--large">CSSans Pro</h1>

        <div class="row footer__cta">
            <div class="col-12 col-md-6 align-md-right">
                <a class="button button--xl" href="#documentation">Documentation</a>
            </div>
            <div class="col-12 col-md-6">
                <a class="button button--xl button--full" href="https://github.com/ZeroSpree/CSSans.Pro" target="_blank">Download ({{ site.filesize }}kb)</a>
            </div>
        </div>

        <div class="row footer__credits">
            <p class="col-6 align-right">
                <a href=""><b class="design">👩🏻‍🎨 </b>Izabela<br/>Andronache</a>
            </p>
            <p class="col-6">
                <a href=""><b class="code">👨🏻‍💻</b>Codrin<br/>Pavel</a>
            </p>
        </div>
    </div>
</footer>