<footer class="footer screen">
    <div class="wrapper js--inview">
        <h1 class="heading heading--large">{{ site.title }}</h1>

        {% include screen__cta.html %}

        <div class="row footer__credits">
            <div class="col-6 align-right">
                <b class="design">👩🏻‍🎨 </b>
                Izabela<br/>Andronache
                <div class="footer__links">
                    <a data-title="izadraws on Instagram" class="footer__link" href="https://www.instagram.com/izadraws/" target="_blank" rel="noopener">{{ icon-instagram }}</a>
                </div>
            </div>
            <div class="col-6">
                <b class="code">👨🏻‍💻</b>
                Codrin<br/>Pavel
                <div class="footer__links">
                    <a data-title="Codrin on CodePen" class="footer__link" href="https://codepen.io/zerospree/" target="_blank" rel="noopener">{{ icon-codepen }}</a>
                    <a data-title="Codrin on Twitter" class="footer__link" href="https://twitter.com/zerospree" target="_blank" rel="noopener">{{ icon-twitter }}</a>
                </div>
            </div>
        </div>
    </div>
</footer>