<footer class="footer screen">
    <div class="wrapper">
        <h1 class="heading heading--large">CSSans Pro</h1>

        {% include screen__cta.html %}

        <div class="row footer__credits">
            <p class="col-6 align-right">
                <a href="https://www.instagram.com/izadraws/" target="_blank">
                    <b class="design">👩🏻‍🎨 </b>
                    Izabela<br/>Andronache
                </a>
            </p>
            <p class="col-6">
                <a href="https://codrin.eu/" target="_blank">
                    <b class="code">👨🏻‍💻</b>
                    Codrin<br/>Pavel
                </a>
            </p>
        </div>
    </div>
</footer>