<head>
    <title>{{ site.title }} - {{ site.subtitle }}</title>
    <meta name="description" content="CSSans Pro is a flexible CSS only font by Izabela Andronache & Codrin Pavel"/>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0">
    <meta name="theme-color" content="#1f3368">
    <meta name="msapplication-navbutton-color" content="#1f3368">
    <meta name="apple-mobile-web-app-status-bar-style" content="#1f3368">

    {%- if site.is_production -%}
        <style>{% include assets/main.min.css %}</style>
    {%- else -%}
        <link type="text/css" rel="stylesheet" href="{{ "min/main.css" | relative_url }}" />
    {%- endif -%}
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
</head>