<div class="row specimen">
    <div class="col-12 col-md-4">
        <h2 class="heading heading--small">Glyph</h2>
        <div class="cssans cssans--large">Ss</div>
    </div>

    <div class="col-12 col-md-8">
        <h2 class="heading heading--small">Characters</h2>
        <div class="cssans cssans--medium">ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890</div>

        <h2 class="heading heading--small">Italic</h2>
        <div class="cssans cssans--small cssans__italic">The quick brown fox jumps over the lazy dog</div>

        <h2 class="heading heading--small">Letter-spacing</h2>
        <div class="cssans cssans--small" style="--cssans-letter-spacing: 1.1em;">The quick brown fox jumps over the lazy dog</div>

        <h2 class="heading heading--small">Word-spacing</h2>
        <div class="cssans cssans--small" style="--cssans-word-spacing: 3em;">The quick brown fox jumps over the lazy dog</div>

        <h2 class="heading heading--small">Line-height</h2>
        <div class="cssans cssans--small" style="--cssans-line-height: 3em;">The quick brown fox jumps over the lazy dog</div>
    </div>
</div>