<div class="row specimen">
    <div class="col-12 col-md-4">
        <h2 class="heading heading--small">Glyph</h2>
        <div class="cssans cssans--large">Ss</div>
    </div>

    <div class="col-12 col-md-8">
        <h2 class="heading heading--small">Uppercase</h2>
        <div class="cssans cssans--medium">ABCDEFGHIJKLMNOPQRSTUVWXYZ</div>

        <h2 class="heading heading--small">Lowercase</h2>
        <div class="cssans cssans--medium">abcdefghijklmnopqrstuvwxyz</div>

        <h2 class="heading heading--small">Numbers</h2>
        <div class="cssans cssans--medium">1234567890</div>

        <h2 class="heading heading--small">Default</h2>
        <div class="cssans cssans--small">The quick brown fox jumps over the lazy dog</div>

        <h2 class="heading heading--small">Slanted</h2>
        <div class="cssans cssans--small cssans--slanted">The quick brown fox jumps over the lazy dog</div>

        <h2 class="heading heading--small">Centered</h2>
        <div class="cssans cssans--small cssans--center">The quick brown fox jumps over the lazy dog</div>

        <h2 class="heading heading--small">Right aligned</h2>
        <div class="cssans cssans--small cssans--right">The quick brown fox jumps over the lazy dog</div>
    </div>
</div>