$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$blue: rgb(31, 51, 104);
$blue-light: rgb(43, 208, 247);
$blue-secondary: rgb(173, 185, 235);
$pink: rgb(237, 21, 118);
$orange: rgb(255, 92, 92);
$orange-dark: rgb(223, 78, 78);
$yellow: rgb(255, 216, 9);
$gray-dark: rgb(80, 80, 80);

$site-max-width: 1328px;

$row-class: '.row';
$column-class: '.col';
$column-count : 12;

// Global site breakpoints
$site-breakpoints : (
  sm: 0px,
  md: 768px,
  lg: 1024px,
  xl: 1440px
);

// Left-right spacings for site container
$site-gutter : (
  sm: 20px,
  md: 32px,
  lg: 64px,
  xl: 64px
);

// Columns gutter spacings
$column-gutter : (
  sm: 16px,
  md: 32px,
  lg: 48px,
  xl: 64px
);
