body, html {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 18px;
  background: #fdfdfd;
}

#code {
  display: none;
}

.align-right {
  text-align: right;
}

@include mq(md) {
  .align-md-right {
    text-align: right;
  }
}

/* Force color picker on mobile screen to stick to left side of the screen */
@include mq(md, max) {
  body > div:last-child {
    left: 28px!important;
  }
}