.cta {
  font-size: 24px;
  text-align: center;
  max-width: 550px;
  margin: 0 auto;

  p {
    margin-bottom: 24px;
  }

  a {
    color: $pink;

    &:hover {
      text-decoration: underline;
    }
  }

  &__link {
    width: 32px;
    height: 32px;
    display: inline-block;
    margin: 0 5px;
    color: $blue!important;

    &:hover {
      
    }
  }
}

@include mq(md) {
  .cta {
    margin-bottom: 50px;
  }
}
