.footer {
  background: $orange;
  color: $white;
  margin-top: 150px;

  .heading {
    margin-bottom: 50px;
    text-align: center;
  }

  .button {
    color: $white;

    &:hover,
    &:focus {
      color: $white;
      background: $orange-dark;
      border-color: $orange-dark;
    }

    &--full {
      color: $orange-dark;
      background: $white;
      border-color: $white;
    }
  }

  &__credits {
    margin-top: 50px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 14px;
    justify-content: space-around;

    a {
      display: inline-block;
    }

    b {
      position: relative;
      font-size: 32px;
      margin-bottom: 5px;
      display: block;
      margin-bottom: 8px;

      &.design {
        right: -5px;
      }

      &.code {
        left: -5px;
      }
    }
  }

  &__links {
    margin-top: 5px;
  }

  &__link {
    width: 32px;
    height: 32px;
    margin-right: 10px;

    &:hover {
      color: $orange-dark;
    }
  }

  .align-right .footer__link {
    margin: 0 0 0 10px;
  }
}
