.playground {
  margin-top: -100px;
  margin-top: -80px;
  border: 1px solid #eee;
  border-radius: 10px 10px 0 0;
  background: $white;
  margin-bottom: 56px;
  position: relative;

  &__notice {
    position: absolute;
    top: -32px;
    left: -10px;
    color: $yellow;
    font-size: 16px;

    &::before {
      content: '';
      width: 100px;
      height: 75px;
      border: 1px dashed transparent;
      border-left-color: $yellow;
      border-bottom-color: $yellow;
      border-radius: 50%;
      position: absolute;
      left: -11px;
      top: 0;
    }
  }

  &__controls {
    justify-content: space-between;
    align-items: center;
    background: #efefef;
    border-bottom: 1px solid #eee;
    padding: 0 8px;
    border-radius: 10px 10px 0 0;
    position: relative;
    z-index: 1;

    .row {
      align-items: center;

      > div {
        padding-top: 16px;
        padding-bottom: 16px;
  
        &:last-child {
          text-align: right;
        }
      }
    }
  }

  input,
  button {
    border: 0;
    padding: 0;
    outline: 0;
    vertical-align: middle;
    height: 32px;
  }

  button {
    background: 0;
    cursor: pointer;
  }

  #ctrl-text {
    font-size: 22px;
    text-align: center;
    width: 100%;
    border-radius: 20px;
    padding: 0 12px;
  }

  .color {
    font-size: 0;
    display: inline-block;
  }

  .jscolor {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 0;
  }

  #ctrl-fontsize {
    max-width: 100%;
  }

  &__container {
    display: table;
    min-height: 50vh;
    width: 100%;
  }

  #playground {
    padding: 1em 16px;
    border-top: 0;
    zoom: .5;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }

  .post-to-codepen {
    position: absolute;
    bottom: 0;
    right: 5px;

    button {
      width: 40px;
      height: 40px;
    }
  }

  @include mq(md) {
    margin-top: -160px;
    margin-bottom: 136px;

    &__notice {
      font-size: 18px;
    }

    #playground {
      zoom: 1;
    }

    &__controls {
      padding: 0 16px;

      &-text {
        order: 1;
      }

      &-size {
        order: 2;
      }
    }

    .post-to-codepen {
      right: 10px;

      button {
        width: 60px;
        height: 60px;
      }
    }
  }
}

