.screen {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 80vh;
  min-height: 600px;

  &__cta {
    text-align: center;

    > :not(:last-child) .button {
      margin-bottom: 25px;
    }
  }

  // Fix IE11 centered alignment
  .wrapper {
    margin-left: 0;
    margin-right: 0;
  }

  @include mq(md) {
    &__cta {
      text-align: left;

      > :not(:last-child) .button {
        margin-bottom: 0;
      }
    }
  }
}